.header{
    background-color: #6a1a2f;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.header > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}